@charset "utf-8";

/* static
relative
absolut
fixed
*/


header {
    position: fixed;
    width:100%;
}

footer {
    position:fixed;
    width: 100%;
    bottom:1px;
    left:1px;
    
}

#kerdojel {
    position: fixed;
    bottom: 10px;
    right:10px;
}

main {
    position: static;
    padding-top:100px;
    
}


nav{
    position:absolute;
    top: 110px;
    left:20px;
}

#szamol {
    position: relative;
    top:5px;
    right: -200px;
}

#zar {
    /*
    position: absolute;*/
    position: relative;
    top: 5px;
    right: -200px;
}